
img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  object-fit: cover;
  object-position: center;
  display: block;
}

.left-side {
  flex: 0 0 30%;
  background: #181818;
  padding: 40px 30px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  height: 100%;
}

.left-role {
  margin-top: 5px;
}

.left-info{
  display: flex;
  flex-direction: column;
  align-items: start;
}

.photo-box img {
  object-fit: cover;
  border-radius: 8px;
  margin-bottom: 25px;
  margin-top: 25px;
}

.left-name {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 5px;
}

.left-role {
  color: #00aaff;
  margin-bottom: 25px;
}

.left-info p {
  font-size: 0.9rem;
  margin-bottom: 10px;
  color: #ccc;
}
